.mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

  .reviewsBlock {
      width: 50%;
      height: 100%;
      padding-bottom: 15px;
  }
  
  .reviewTemplate {
      height: fit-content;
      width: calc(100% - 30px);
      border-bottom: 1px solid lightgray;
      border-top: 1px solid lightgray;
      margin-left: 15px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      background-color: rgb(246, 246, 246);
  }
  
  .reviewTemplateTitle {
      height: 25px;
      font-size: large;
      display: flex;
      flex-direction: row;
  }
  
  .reviewTemplateRating {
      height: 25px;
      font-size: medium;
      display: flex;
      flex-direction: row;
  }
  
  .reviewAuthor {
      color: black;
      font-weight: 500;
  }
  
  .reviewRating {
      color: grey;
  }
  
  .reviewTemplateBody {
      flex: 3;
      display: flex;
      flex-direction: column;
  }

  .reviewButtonBox {
      flex: .2;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      border-top: 1px solid lightgray;
  }

  .deleteButton {
      width: 100px;
  }
  
  .reviewTemplateDesc {
      height: auto;
      padding-top: 2px;
      padding-right: 15px;
      padding-bottom: 2px;
      word-wrap: break-word;
  }
  
  .reviewTemplateImages 
  {
      display: flex;
      height: auto;
      padding-bottom: 5px;
      flex-direction: row;
  }
  
  .reviewTemplateImageBorder 
  {
      height: 90px;
      width: 90px;
      padding-right: 3px;
  }
  
  .reviewTemplateImageBorder:hover 
  {
      height: 90px;
      width: 90px;
      filter: brightness(50%);
      cursor: pointer;
  }
  
  .userImagePopUp
  {
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      z-index: 10000;
      background-color:rgba(255,255,255,0.5);
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .userImage{
      opacity: 2;
  }
  
  .topcorner{
      height: 45px;
      width: 45px;
      margin-top: 3px;
      margin-right: 5px;
      position:absolute;
      top:0;
      right:0;
      cursor: pointer;
  }
  
  .noReviews{
      font-size: large;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
  }