.windowDivSection {
  /* To adjust for the top bar component. */
  margin-top: 70px;
  min-height: calc(100vh - 70px);
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #E6E6E6;
}

.middleSection {
  flex: 1;
  background-color: #E6E6E6;
  min-height: 100%;
  max-width: 1250px;
  min-width: 1250px;
  display: flex;
  flex-direction: column;
}

.infoAndTopReviewSection {
  min-height: 860px;
}

.titleAndInformationSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.titleBlock {
  flex: .5;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: gray 1px solid;
}

.infoBlock {
  flex: 2.5;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: gray 1px solid;
}

.imageGalleryBlock {
  flex: 2;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: gray 1px solid;
}

.imageCarousel {
  height:300px;
  width: 570px;
}

.carouselImageExample {
  height: 300px;
  width: 570px;
}

.topReviewSection {
  display: flex;
}

.topReviewBlock 
{
  flex: 1;
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  border: gray 1px solid;
}

.reviewsSection {
  height: 700px;
}

.reviewsBlock 
{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: gray 1px solid;
  margin-left: 15px;
}

.spacer {
  max-width: 15px;
  min-width: 15px;
}

/*Getting rid of bootstrap padding / margins*/
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.container{
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
 }