.windowDivSection {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6E6E6;
}

.middleSection {
    background-color: white;
    min-height: 100%;
    max-width: 1550px;
    min-width: 1550px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.infoAndTopReviewSection {
    min-height: 800px;
    display: flex;
}

.titleAndInformationSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleBlock {
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191
}

.infoBlock {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoCard {
    flex: 1;
    width: 100%;
    height: 100%;
    margin-right: 15px;
}

.imageGalleryBlock {
    flex: 2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color: rgb(246, 246, 246);
}

.imageCarouselSection {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCarousel {
    height: 700px;
    width: 950px;
    display: flex;
}

.carouselImageExample {
    height: 700px;
    width: 950px;
}

.reviewsSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewsTitle {
    height: 40px;
    padding-left: 13px;
    padding-top: 10px;
    width: 50%
}

.reviewsBlock {
    width: 50%;
    height: 100%;
    padding-bottom: 15px;
}

.reviewsCard {
    height: 100%;
    width: 100%
}

.reviewTemplate {
    height: fit-content;
    width: calc(100% - 30px);
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
}

.reviewTemplateTitle {
    height: 25px;
    font-size: large;
    display: flex;
    flex-direction: row;
}

.reviewTemplateRating {
    height: 25px;
    font-size: medium;
    display: flex;
    flex-direction: row;
}

.reviewAuthor {
    color: black;
    font-weight: 500;
}

.reviewRating {
    color: grey;
}

.reviewTemplateBody {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.reviewTemplateDesc {
    height: auto;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    word-wrap: break-word;
}

.reviewTemplateImages {
    display: flex;
    height: auto;
    padding-bottom: 5px;
    flex-direction: row;
}

.reviewTemplateImageBorder {
    height: 90px;
    width: 90px;
    padding-right: 3px;
}

.reviewTemplateImageBorder:hover {
    height: 90px;
    width: 90px;
    filter: brightness(50%);
    cursor: pointer;
}

.userImagePopUp {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userImage {
    opacity: 2;
}

.topcorner {
    height: 45px;
    width: 45px;
    margin-top: 3px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.noReviews{
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.footer {
    height: 30px;
}


/*Getting rid of bootstrap padding / margins*/

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}