.middleSection {
  background-color: white;
  min-height: 100%;
  max-width: 1250px;
  min-width: 1250px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.infoAndImageSection {
  min-height: 860px;
  display: flex;
}

.titleAndDescriptionSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleBlock {
  flex: 0.5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}

.amenitiesBlock {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionBlock {
  flex: 2.1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ImageAndAmenititesSection {
  flex: 1;
  display: flex;
  align-items: center;
}

.topBlock {
  flex: 0.5;
  width: 100%;
  display: flex;
}

.roomTypeBlock {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBlock {
  flex: 2.1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.imageCarousel {
  height: 390px;
  width: 595px;
}

.carouselImageExample {
  height: 390px;
  width: 595px;
}

.infoCard {
  width: 95%;
  height: 95%;
}
/*Getting rid of bootstrap padding / margins*/

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.container {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
