.buttonTheme {
    border-radius: 10px;
    height: 40px;
    width: auto;

    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:  black;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px rgb(149, 14, 41);
}

.mainDivSection {
    background-color: #8B868A;

    /* To adjust for the top bar component. */
    margin-top: 70px;
    min-height: calc(100vh - 70px);
    min-width: 100vh;
}

.primaryRed {
    background-color: #CC1540;
}

.primaryGray {
    background-color: #414141;
}