.mainContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #E6E6E6;
}

.listColumn {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  border: solid 2px grey;
  width: 350px;
  height: 870px;
  top: 70;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonListBlock {
  flex: 9;
  height: 100%;
  width: 100%;
  padding-left: 5px;
  overflow-y: scroll;
  margin-bottom: 5px;
}

.optionsBlock {
  border-bottom: solid 2px grey;
  height: 125px;
  width: 100%;
  padding: 5px;
  background-color: #d4d4d4;
  font-weight: bold;
}

.resetButton
{
  margin-top: 5px;
}

.buttonListBlock::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}

.buttonListBlock::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.buttonListBlock::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.leafletMap {
  height: 100%;
  width: 100%;
}

.hallButton {
  border-radius: 10px;
  margin-top: 15px;
  min-height: 80px;
  width:320px;
}

.hallButton:hover {
  background-color: rgb(132, 164, 175);
}