.windowDivSection {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6E6E6;
}

.mainSection {
    max-width: 1550px;
    min-width: 1550px;
    height: 1200px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.userColumnSection {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.userInfo {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.userColumnSpacer {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.userImageBox {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userNameBox {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.userGradYearBox {
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.userReviewSection {
    flex: 1;
    border: 1px solid black;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}