.mainDivSection {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6E6E6;
    width: 100%;
}

.mainContainerSection {
    width: 1200px;
}

.sideSection {
    flex: 1;
}

.content {
    flex: 8;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    border: gray 1px solid;
    width: 100%;
    min-height:90vh;
}

.leftContentSide {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.rightContentSide {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.reviewTitleBlock {
    flex: .7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.reviewDropDown {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reviewText {
    padding-top: 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewImages {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderSection {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.buttonSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.sliderBox {
    height: 550px;
    width: 400px;
    display: flex;
    
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.form {
    width: 90%;
}

.borderAdd {
    border: solid black 1px;
}

.quarterDropdown {
    width: 230;
}

.successAlert {
    margin-top: 10px;
    cursor: pointer;
}

.dangerAlert {
    margin-top: 10px;
}

.submitAlert {
    margin: 40px;
    margin-top: 20px;
}