.mainDivSection {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6E6E6;
    width: 100%;
}

.mainContainerSection {
    width: 1200px;
}

.sideSection {
    flex: 1;
}

.imagesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 25px;
}

.imageButtonContainer {
    position: relative;
}

.imagePreview {
    display: flex;
    max-width: 98px;
    margin: 4px;
    border: 1px solid rgb(56, 56, 56);
}

.imageCloseButton {
    position: absolute;
    max-width: 50px;
    right: 0px;
    margin: 8px;
    top: 0;
}

.content {
    flex: 8;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgb(246, 246, 246);
    width: 100%;
}

.leftContentSide {
    flex: 2;
    height: 100%;
    display: flex;
    padding-top: 5px;
    flex-direction: column;
    margin-left: 30px;
}

.rightContentSide {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.reviewDropDown {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reviewText {
    padding-top: 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewImages {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderSection {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.reviewTitleBlock {
    flex: .7;
    background-color: white;
    padding-left: 40px;
    font-size: 60px;
    font-weight: bold;
}

.buttonSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.sliderBox {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.form {
    width: 90%;
}

.imageInput {
    width: 85%;
}

.borderAdd {
    border: solid black 1px;
}

.quarterDropdown {
    width: 230;
}

.successAlert {
    margin-top: 10px;
    cursor: pointer;
}

.dangerAlert {
    margin-top: 10px;
}

.submitAlert {
    margin: 40px;
    margin-top: 20px;
}