.mainDivSection {
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6E6E6;
    width: 100%;
}

.mainContainerSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1800px;
    min-width: 1800px;
}

.sideSection {
    flex: 1;
}

.content {
    flex: 8;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    border: gray 1px solid;
    width: 100%;
}

.leftContentSide {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.rightContentSide {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.reviewTitleBlock {
    flex: .7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewDropDown {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reviewText {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewImages {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderSection {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.buttonSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderBox {
    height: 550px;
    width: 700px;
    display: flex;
    
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.submitButton {
    width: 330px;
    height: 110px;
    background-color: #A30F32;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px #838383;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 45px;
}

.submitButton:hover {
    background-color: #820d28;
    box-shadow: 0px 0px;
    margin-top: 4px;
    margin-left: 4px;
}

.form {
    width: 90%;
}

.borderAdd {
    border: solid black 1px;
}