.loginContainer {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

input {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

.error {
  background-color: #7f0000;
  color: white;
  padding: 0.5em;
}