.topbar {
    position:fixed;
    top:0;
    left:0;
    right:0;
    height: 70px;
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #CC1540;
}

.SearchBox {
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 800px;
}

.CwuLogo {
    max-height: 55px;
    max-width: 55px;
    position: fixed;
    top: 7px;
    left: 30px;
    transform: scaleX(-1);
}

.searchInput {
    height: 37px;
    width: 450px;
    position: fixed;
    top: 15px;
    left: 100px;
    border-style: none;
    border-radius: 25px;
    font-size: 15px;
    text-indent: 20px;
}

.searchInput::placeholder {
    color: lightgray
}

.searchInput:focus {
    outline: none;
}

.MenuItemBox {
    height: 25px;
    width: auto;
    position: fixed;
    top: 25px;
    left: 590px;
    display: flex;
}

.MenuItem {
    margin-left: 25px;
    color: White;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
}

.MenuItem:hover {
    text-shadow: 0 0 5px black;
    color: rgba(255, 255, 255, 0.726);
}

.signInSection {
    flex: 1;
    flex-direction: row-reverse;
    min-width: 500px;
    display: flex;
}

.LogInSignUpButtons {
    background-color: black;
    border-radius: 10px;
    height: 40px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 4px 4px rgb(149, 14, 41);
    text-decoration: none;
}

.LogInSignUpButtons:hover {
    background-color:#414141;
    box-shadow: 0px 0px;
    margin-right: 6px;
    margin-top: 19px;
    margin-left: 4px;
}

.LeaveAReviwButton {
    background-color:  black;
    border-radius: 10px;
    height: 40px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 185px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 4px 4px rgb(149, 14, 41);
}

.LeaveAReviwButton:hover {
    background-color:#414141;
    box-shadow: 0px 0px;
    margin-right: calc(181px);
    margin-top: 19px;
}