.mainContaier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #E6E6E6;
  background-image: url("https://media-exp1.licdn.com/dms/image/C4E1BAQEBJg3SFoYZ0Q/company-background_10000/0/1543538479841?e=2159024400&v=beta&t=4IWiihutzTA8h2zvJE-xTm26nvwKxnm4Ax8f21rovNA");
  background-size: cover;
}

.mainRow {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 1200px;
  background-color: white;
  border: gray 1px solid;
  border-radius: 5px;
  display: flex;
}

.titleRow {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
}

.buttonRow {
  flex: 1;
}

.buttonBoxLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 230px;
}

.buttonBoxRight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 230px;
}

.button { 
  width: 330px;
  height: 110px;
  background-color: #A30F32;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px #838383;
  color: white;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #820d28;
  box-shadow: 0px 0px;
  margin-top: 4px;
  margin-left: 4px;
}

.bottomRow {
  flex: 2.5;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wellingtonColumn {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.speechBubbleColumn {
  background-image: url(../Assets/SpeechBubble.png);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  flex: 1.4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wellingtonSize {
  height: 300px;
  width: 300px;
  margin-top: 10px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}