.mainContaier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #E6E6E6;
  background-image: url("https://media-exp1.licdn.com/dms/image/C4E1BAQEBJg3SFoYZ0Q/company-background_10000/0/1543538479841?e=2159024400&v=beta&t=4IWiihutzTA8h2zvJE-xTm26nvwKxnm4Ax8f21rovNA");
  background-size: cover;
}

.mainRow {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 1200px;
  background-color: white;
  border: gray 1px solid;
  border-radius: 5px;
  display: flex;
}

.titleRow {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
}

.buttonRow {
  flex: 1;
}

.imageSize {
  height: 300px;
  width: 600px;
}

.carouselSize {
  height: 300px;
  width: 600px;
}

.buttonBoxLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 230px;
}

.buttonBoxRight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 230px;
}

.bottomRow {
  flex: 2;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.suggestionRow {
  flex: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestionCard {
  border-radius: 5px;
  font-size: larger;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestionText {
  margin-right:10px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.suggestionPopUpWindow {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  position: absolute;
  z-index: 1000;
}